<h2>Rewards</h2>

<table>
  <thead>
    <tr id="tablehead">
      <th>Title</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.price %>$</td>
        <td><%= link_to 'Show', reward %></td>
        <% if current_employee && reward.price <= current_employee.earned_points %>
          <td><%= link_to 'Buy now', new_order_path(reward: reward), 
            data: { confirm: "Are you sure?\nPrice: #{reward.price}$, New balance: #{current_employee.earned_points - reward.price}$" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
